.containertab{
    width: 100%;
    height: 800px;

    /*background-color: #E9C443;*/

    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.tab-wrapper{
    position: inherit;
    width: 100%;
    height: 60px;
    background-color: #33344a;
}
.tab-wrapper .tab-radio{
    display: none;
}
.tab-handler{
    position: relative;
    z-index: 2;
    display: block;
    float: left;
    height: 60px;
    padding: 0 40px;
    color: #717181;
    font-size: 16px;
    line-height: 60px;
    transition: .3s;
    transform: scale(.9);
}
.tab-radio:checked + .tab-handler{
    color: #fff;
    background-color: #e74c3c;
    transform: scale(1);
}
.tab-radio:checked + .tab-handler + .tab-content{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.tab-wrapper .tab-content{
    visibility: hidden;
    position: absolute;
    top: 160px;
    left: 20px;
    width: 100%;
    padding: 30px;
    color: #999;
    font-size: 14px;
    line-height: 1.618em;
    background-color: #E9C443;
    opacity: 0;
    transition: transform .5s, opacity .7s;
    transform: translateY(20px);
}

.box{
    width:90%;
    height:600px;
    margin-top:-50px;
    position:absolute;
    background-color:#E9C443;
    opacity: 0.9;
}
.pp{
    margin-bottom:15px;
}
.leftbox{
    margin-top:10px;
    float:left;
    width:20%;
    height:480px;

    opacity: 0.9;
}
.rightbox{
    margin-top:10px;
    float:right;
    width:80%;
    height:480px;
    background-color:#8D913C;
    opacity: 0.9;
}
.gamegenre{
    color:black;
    font-size: 17px;
    width:95%;
    height:40px;
    background-color:#48665e;
    opacity: 1;
    margin-bottom: 2px;
    border-color:#48665e;
}